setuptools
greenlet
bottle
gevent
gevent-websocket
websocket-client
requests
websockets

# For Windows/dev machines we exclude RPi.GPIO (Raspberry Pi only)

# List of all supported adafruit modules for thermocouples
adafruit-circuitpython-max31855
adafruit-circuitpython-max31856

# for folks using sw spi (bit banging)
adafruit-circuitpython-bitbangio
