[Unit]
Description=kiln-controller

[Service]
# Use {{INSTALL_DIR}} placeholder which will be replaced by the installer script
ExecStart={{INSTALL_DIR}}/venv/bin/python {{INSTALL_DIR}}/kiln-controller.py

[Install]
WantedBy=multi-user.target
